# spring:
#  datasource:
#   url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:

# jpa:
#  hibernate:
#      ddl-auto: create-drop
#   properties:
#     hibernate:
#      dialect: org.hibernate.dialect.H2Dialect

spring:
  application:
    name: libflow-api

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/bibliotecadb}
    username: ${DB_USERNAME:postgres}
    # CORREÇÃO: Remova o ":" extra se ele estiver causando conflito com a variável do IntelliJ
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

server:
  port: 8081

springdoc:
  swagger-ui:
    path: /docs
    operations-sorter: alpha
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
  show-actuator: true



#  flyway:
#    enabled: false

